[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pytest-cov = "*"
pyjwt = "*"
celery = "*"
redis = "*"
sendgrid = "*"
cloudinary = "*"
flask-restplus = "*"
flask = "*"
flask-sqlalchemy = "*"
pytest-flask = "*"
flask-cors = "*"
flask-migrate = "*"
"psycopg2-binary" = "*"
pytest = "*"
numpy = "*"
marshmallow = "*"
marshmallow-enum = "*"
passlib = "*"
faker = "*"

[dev-packages]
yapf = "*"

[requires]
python_version = "3.7"
